@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    list-style: none;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: whitesmoke;
}

.myContainer-fluid{
    display: flex;
    width: 100%;
}

.myContainer-fluid .sidebar{
    position: relative;
}

.myContainer-fluid .sidebar .sidebar-inner{
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: #2b2b31;
    z-index: 999;
    transition: all 0.3s ease;
}

.myContainer-fluid .main-container{
    margin-left: 250px;
    width: calc(100% - 250px);
    transition: all 0.3s ease;
}

.myContainer-fluid .sidebar-inner .profile-info{
    padding: 30px 50px;
    text-align: center;
}

.myContainer-fluid .sidebar-inner .profile-info .profile-img{
    width: 125px;
    margin: 0 auto 15px;
}

.myContainer-fluid .sidebar-inner .profile-info .profile-img img{
    width: 100%;
    border-radius: 75px;
    display: block;
}

.myContainer-fluid .sidebar-inner .profile-info .profile-data .name{
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.myContainer-fluid .sidebar-inner .profile-info .profile-data .role{
    font-weight: 300;
    color:#8e96a3;
    margin-bottom: 15px;
}

.myContainer-fluid .sidebar-inner .profile-info .profile-data .btn{
    padding: 10px;
    border: 1px solid #1fafac;
    border-radius: 25px;
    color: #1fafac;
    cursor: pointer;
}

.myContainer-fluid .sidebar-inner .profile-info .profile-data .btn:hover{
    background: #1fafac;
    color: black;
}

.myContainer-fluid .sidebar-menu li a{
    padding: 10px 10px;
    display: block;
    height: 77px;
    color: #8e96a3;
    position: relative;
    margin-bottom: 1px;
    text-align: center;
    text-transform: uppercase;
}

.myContainer-fluid .sidebar-menu li a .icon{
    font-size: 25px;
    margin-bottom: 5px;
}

.myContainer-fluid .sidebar-menu li a:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    
    display: none;
}

.myContainer-fluid .sidebar-menu li a:hover, .wrapper .sidebar-menu li a.active{
    background: rgb(18, 129, 173);
    color: white;
}

.myContainer-fluid .sidebar-menu li a:hover:before, .wrapper .sidebar-menu li a.active:before{
    display: block;
}




